# Astro Runtime includes some pre-installed provider packages:
# https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
#
# This project uses PostgresHook, which lives in the Postgres provider.
apache-airflow-providers-postgres
